test/xml/testcaseExtendedCommandSet.dtd

<!ELEMENT testcase (step+)>
<!ELEMENT step (#PCDATA | optionalParameter)*>
<!ELEMENT optionalParameter (#PCDATA)>

<!ATTLIST step
    command (Assert_Content | Assert_Title | Click_After_Text | Click_On | Comment | Open_Url | Select | Set | Use_Module | AssertFail | AssertSql | AssertSqlInContent | ExecuteSql) #REQUIRED
    comment (true | false) "false">