test/xml/testcase.dtd

<!ELEMENT testcase (step+)>
<!ELEMENT step (parameter, optionalParameter?)>
<!ELEMENT parameter (#PCDATA)>
<!ELEMENT optionalParameter (#PCDATA)>

<!ATTLIST step
    command (Assert_Content | Assert_Title | Click_After_Text | Click_On | Comment | Open_Url | Select | Set | Use_Module) #REQUIRED
    comment (true | false) "false">